version: '2'
services:
  reverseproxy:
      build: ./nginx
      ports:
          - "8080:80"
      restart: always
      links:
        - apache
  apache:
      image: php:7.0-apache
      volumes:
        - ../:/var/www/html/
      links:
        - maria
  maria: 
      image: mariadb
      environment:
          MYSQL_ROOT_PASSWORD: 'ROOT_PASSWORD'
          MYSQL_DATABASE: 'nyaa_db'
          MYSQL_USER: 'nyaa'
          MYSQL_PASSWORD: 'USER_PASSWORD'
    # volumes:
    #   - "../../mysql:/var/lib/mysql"
      ports:
        - "33060:3306"